/* Write your CSS here */

.total-card {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 576px) {
  .total-card {
    flex-direction: column;
  }
}

.income-card {
  background-color: #ecfccb;
  border: 1px solid #84cc16;
  border-radius: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  height: 25%;
  width: 30%;
}

.total-img {
  height: 50%;
  width: 30%;
}

.all-text {
  color: #7e858e;
  font-size: 16px;
  font-weight: 400;
}

.rupees-text {
  color: #7e858e;
  font-size: 22px;
  font-weight: 500;
}

.expence-card {
  background-color: #cffafe;
  border: 1px solid #06b6d4;
  border-radius: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  height: 25%;
  width: 30%;
}

.balance-card {
  background-color: #ede9fe;
  border: 1px solid #7c3aed;
  border-radius: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  height: 25%;
  width: 30%;
}

@media screen and (max-width: 576px) {
  .income-card {
    width: 99%;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .expence-card {
    width: 99%;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .balance-card {
    width: 99%;
    margin-top: 5%;
    margin-bottom: 5%;
  }
}
